FastAPI # API library
uvicorn # Web server
pymongo<4.11 # Mongo driver
pymongo_inmemory # In memory mongo driver
psycopg[binary] # Postgres driver
requests # httpm
pserialization # Serialization library
pytest # testing
httpx # FastAPI test client
